# ==========================
# Visual Studio Code
# ==========================
.vscode/
*.code-workspace

# ==========================
# Hugo
# ==========================
/public/
/resources/_gen/
/hugo_stats.json

# ==========================
# System / temporary files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Temporary / backup folders
# ==========================
old/

# ==========================
# Other
# ==========================
*.log
*.tmp

