.btn {
  padding: 18px 45px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  border-radius: 5px;
  font-weight: 500;
}

.btn-primary {
  background: var(--avocado);
  color: var(--white);
}

.btn-primary:hover {
  background: var(--black);
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.btn-secondary {
  background: var(--white);
  color: var(--avocado);
}

.btn-secondary:hover {
  background: rgba(255,255,255,0.9);
  transform: translateY(-3px);
}

.cta-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-nav-hamburger {
  display: none; /* nadal ukrywamy na desktopie */
  position: absolute;
  top: 50%; /* środek pionowy */
  right: 20px; /* odległość od prawej krawędzi */
  transform: translateY(-50%); /* dokładne wycentrowanie w pionie */
  background-color: var(--avocado-light); /* zielone tło */
  color: #ffffff; /* biała ikona */
  border: none;
  font-size: 1.8rem; /* większa ikona */
  padding: 10px 15px; /* powiększenie obszaru kliknięcia */
  border-radius: 8px; /* zaokrąglone rogi */
  
}

.btn-nav-close {
  background-color: var(--avocado-light);
  color: #ffffff;
  border: none;
  font-size: 1.8rem;
  padding: 20px 30px;
}
