/* Media Queries */
@media (max-width: 1250px) {
  .main-nav .container {
    flex-direction: column;
    gap: var(--gutter-sm);
  }

  .nav-links .has-dropdown:hover .dropdown-menu {
    display: none; /* ignorujemy hover */
  }

  .nav-links .selected .dropdown-menu {
    display: block; 
  }
}

@media (max-width: 1200px) {
  .main-nav ul {
    gap: var(--gutter-md);
  }

  .page-header {
    padding-top: 180px;
  }

  .services-grid,
  .features-grid,
  .stats-grid,
  .footer-content {
    gap: var(--gutter-md);
  }

  .contact-grid {
    display: flex !important;      
    flex-direction: column !important; 
    gap: 20px;                    
  }

  .contact-form,
  .contact-info {
      width: 100%;                      
  }

  .contact-info {
      margin-top: 20px;                 
  }
}

@media (max-width: 992px) {
  .hero h1 {
    font-size: var(--h1-md);
  }
}

@media (max-width: 830px) {
  .main-nav {
    position: relative;
  }
  /*
      .dropdown-menu {
        display: none;
        position: relative; /* wstawione w kolumnie menu 
        top: 0;
        left: 0;
        background-color: var(--avocado-dark);
        padding-left: 20px;
    }

    .dropdown-menu.open {
        display: block;
    }
    */

  /* --- Hamburger Menu --- */
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%; /* behind the screen */
    width: 60%;
    height: 100%;
    background-color: var(--avocado);
    flex-direction: column;
    gap: var(--gutter-sm);
    align-items: flex-start;
    transition: right 0.5s ease;
    z-index: 1500;
  }

  .nav-links li {
    padding: 0 30px;
    text-align: left;
    display: flex;
    width: 100%;
  }

  .nav-links li a {
    font-size: var(--font-size-md);
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  /* Right arrow icons */
  .main-nav ul li a i {
    display: inline;    
  }

  .btn-nav-hamburger {
    display: block;
  }

  .nav-close {
    display: flex;
    justify-content: flex-end;
  }

  .nav-links.active {
    right: 0; /* the menu slides in form the right */
  }

  /* --- Overlay --- */
  body.menu-open::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1400;
  }

  .main-nav.active {
    background-color: var(--avocado-dark); /* darkens the nav bar */
  }

  .main-nav ul li a.selected::after {
    width: 0;
  }

  .logo.active {
    filter: brightness(0.5); /* darkens the logo */
  }

  body.menu-open {
    overflow: hidden; /* stops scrolling */
  }

  .hero {
    padding-top: 0;
    align-items: flex-start;
  }

  .page-header {
    padding-top: 50px;
  }

  .service-section {
    padding: 30px 30px;
  }
}

@media (max-width: 768px) {   
  .hero h1 {
    font-size: var(--h1-md);
  }

  .reviews-grid {
    grid-template-columns: 1fr;
  }

  .stats-grid {
    grid-template-columns: 1fr 1fr;
  }

  .contact-grid {
    grid-template-columns: 1fr;
  }
  
  .quick-contact {
    flex-direction: column;
    align-items: stretch;
  }
  
  .contact-form {
    padding: 30px;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: var(--h1-sm);
  }

  .btn {
    padding: var(--spacing-sm);
    font-size: var(--font-size-sm);
    padding: 12px 25px;
    font-size: 14px;
  }
}

:root {
  --gutter-md: 25px;
  --gutter-sm: 20px;
  --h1-md: clamp(1.5rem, 5vw, 3.2rem);
  --h1-sm: clamp(0.8rem, 5vw, 2.2rem);
  --font-size-md: clamp(1.25rem, 6vw, 2.2rem);
  --font-size-sm: clamp(1rem, 6vw, 1.75rem);
  --spacing-sm: 20px 25px;
}

