<ul class="dropdown-menu {{ if strings.Contains .RelPermalink "/biznes/" }}selected{{ end }}">
    <li><a href="{{ "/biznes/weryfikacja-kontrahentow/" | relURL }}" class="{{ if eq .RelPermalink "/biznes/weryfikacja-kontrahentow/" }}selected{{ end }}">
        <span>Weryfikacja Kontrahentów</span>
    </a></li>
    <li><a href="{{ "/biznes/ochrona-tajemnic-handlowych/" | relURL }}" class="{{ if eq .RelPermalink "/biznes/ochrona-tajemnic-handlowych/" }}selected{{ end }}">
        <span>Ochrona Tajemnic Handlowych</span>
    </a></li>
    <li><a href="{{ "/biznes/poszukiwanie-dluznikow/" | relURL }}" class="{{ if eq .RelPermalink "/biznes/poszukiwanie-dluznikow/" }}selected{{ end }}">
        <span>Poszukiwanie Dłużników</span>
    </a></li>
    <li><a href="{{ "/biznes/audyty-bezpieczenstwa/" | relURL }}" class="{{ if eq .RelPermalink "/biznes/audyty-bezpieczenstwa/" }}selected{{ end }}">
        <span>Audyt Bezpieczeństwa</span>
    </a></li>
    <li><a href="{{ "/biznes/dyskretny-monitoring/" | relURL }}" class="{{ if eq .RelPermalink "/biznes/dyskretny-monitoring/" }}selected{{ end }}">
        <span>Dyskretny Monitoring Wizyjny</span>
    </a></li>
    <li><a href="{{ "/biznes/monitoring-pracownikow/" | relURL }}" class="{{ if eq .RelPermalink "/biznes/monitoring-pracownikow/" }}selected{{ end }}">
        <span>Monitoring Pracowników</span>
    </a></li>
</ul>

