<ul class="dropdown-menu {{ if strings.Contains .RelPermalink "/kolekcjonerzy/" }}selected{{ end }}">
    <li><a href="{{ "/kolekcjonerzy/autentycznosc-dziel-sztuki/" | relURL }}" class="{{ if eq .RelPermalink "/kolekcjonerzy/autentycznosc-dziel-sztuki/" }}selected{{ end }}">
        <span>Weryfikacja Autentyczności Dzieł Sztuki</span>
    </a></li>
    <li><a href="{{ "/kolekcjonerzy/skradzione-obiekty/" | relURL }}" class="{{ if eq .RelPermalink "/kolekcjonerzy/skradzione-obiekty/" }}selected{{ end }}">
        <span>Skradzione Obiekty</span>
    </a></li>
    <li><a href="{{ "/kolekcjonerzy/historia-obiektu/" | relURL }}" class="{{ if eq .RelPermalink "/kolekcjonerzy/historia-obiektu/" }}selected{{ end }}">
        <span>Historia Obiektu</span>
    </a></li>
    <li><a href="{{ "/kolekcjonerzy/wykrywanie-falsyfikatow/" | relURL }}" class="{{ if eq .RelPermalink "/kolekcjonerzy/wykrywanie-falsyfikatow/" }}selected{{ end }}">
        <span>Wykrywanie Falsyfikatów</span>
    </a></li>
    <li><a href="{{ "/kolekcjonerzy/autentycznosc-antykow-bizuterii/" | relURL }}" class="{{ if eq .RelPermalink "/kolekcjonerzy/autentycznosc-antykow-bizuterii/" }}selected{{ end }}">
        <span>Antyki i Biżuteria</span>
    </a></li>
    <li><a href="{{ "/kolekcjonerzy/dokumenty-rekopisy/" | relURL }}" class="{{ if eq .RelPermalink "/kolekcjonerzy/dokumenty-rekopisy/" }}selected{{ end }}">
        <span>Dokumenty i Rękopisy</span>
    </a></li>
</ul>

