<div class="main-nav">
    <div class="container">
        <a href="{{ "/" | relURL }}" class="logo">
            <div class="logo-img">
                <img src="/images/logo.svg" alt="Logo firmy">
            </div>
            <div class="logo-text">
                <span class="logo-main">DETEKTYW DOMANSKI</span>
                <span class="logo-sub">EKSKLUZYWNE BIURO DETEKTYWISTYCZNE</span>
            </div>
        </a>

        <ul class="nav-links">
            <div class="nav-close">
                <button class="btn-nav-close">
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <li><a href="{{ "/" | relURL }}" class="{{ if eq .RelPermalink "/" }}selected{{ end }}">
                <span>Start</span>
                <i class="fas fa-chevron-right"></i>
            </a></li>

            <li class="has-dropdown">
                <a href="{{ "/biznes/" | relURL }}" class="{{ if strings.Contains .RelPermalink "/biznes/" }}selected{{ end }}">
                    <span>Dla Firm</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                {{ partial "business-menu.html" . }}
            </li>
            <li class="has-dropdown">
                <a href="{{ "/prywatne/" | relURL }}" class="{{ if strings.Contains .RelPermalink "/prywatne/" }}selected{{ end }}">
                    <span>Dla Osób Prywatnych</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                {{ partial "private-menu.html" . }}
            </li>
            <li class="has-dropdown">
                <a href="{{ "/kolekcjonerzy/" | relURL }}" class="{{ if strings.Contains .RelPermalink "/kolekcjonerzy/" }}selected{{ end }}">
                    <span>Dla Kolekcjonerów</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                {{ partial "collectors-menu.html" . }}
            </li>
            </a></li>

            <li><a href="{{ "/blog/" | relURL }}" class="{{ if strings.Contains .RelPermalink "/blog/" }}selected{{ end }}">
                <span>Blog</span>
                <i class="fas fa-chevron-right"></i>
            </a></li>
            <li><a href="{{ "/opinie/" | relURL }}" class="{{ if strings.Contains .RelPermalink "/opinie/" }}selected{{ end }}">
                <span>Opinie</span>
                <i class="fas fa-chevron-right"></i>
            </a></li>
            <li><a href="{{ "/kontakt/" | relURL }}" class="nav-cta {{ if strings.Contains .RelPermalink "/opinie/" }}selected{{ end }}">
                <span>Kontakt</span>
                <i class="fas fa-chevron-right"></i>
            </a></li>
        </ul>

        <button class="btn-nav-hamburger" aria-label="Menu">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</div>