<ul class="dropdown-menu">
    <li><a href="{{ "/prywatne/weryfikacja-przedmalzenska" | relURL }}" class="{{ if eq .RelPermalink "/prywatne/weryfikacja-przedmalzenska/" }}selected{{ end }}">
        <span>Weryfikacja Przedmałżeńska</span>
    </a></li>
    <li><a href="{{ "/prywatne/spadkowe" | relURL }}" class="{{ if eq .RelPermalink "/prywatne/spadkowe/" }}selected{{ end }}">
        <span>Sprawy Spadkowe</span>
    </a></li>
    <li><a href="{{ "/prywatne/niewyjasnione" | relURL }}" class="{{ if eq .RelPermalink "/prywatne/niewyjasnione/" }}selected{{ end }}">
        <span>Sprawy Niewyjaśnione</span>
    </a></li>
    <li><a href="{{ "/prywatne/niesluszne-wyroki" | relURL }}" class="{{ if eq .RelPermalink "/prywatne/niesluszne-wyroki/" }}selected{{ end }}">
        <span>Niesłuszne Wyroki</span>
    </a></li>
    <li><a href="{{ "/prywatne/poszukiwanie-osob" | relURL }}" class="{{ if eq .RelPermalink "/prywatne/poszukiwanie-osob/" }}selected{{ end }}">
        <span>Poszukiwanie Osób</span>
    </a></li>
    <li><a href="{{ "/prywatne/poszukiwanie-przedmiotow" | relURL }}" class="{{ if eq .RelPermalink "/prywatne/poszukiwanie-przedmiotow/" }}selected{{ end }}">
        <span>Poszukiwanie Przedmiotów</span>
    </a></li>
    <li><a href="{{ "/prywatne/mienie-zabuzanskie" | relURL }}" class="{{ if eq .RelPermalink "/prywatne/mienie-zabużańskie/" }}selected{{ end }}">
        <span>Mienie Zabużańskie</span>
    </a></li>
</ul>

